DatosPDV/Connected Services/SRPerfil/Perfil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Perfil" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.98.189:1559/Perfil/Perfil.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.98.189:1559/Perfil/Perfil.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.98.189:1559/Perfil/Perfil.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDVWebService.Mensajes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfil_GetListaPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPerfil" />
  </wsdl:message>
  <wsdl:message name="IPerfil_GetListaPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfil_GetListaPerfilUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPerfilUsuario" />
  </wsdl:message>
  <wsdl:message name="IPerfil_GetListaPerfilUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPerfilUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerfil">
    <wsdl:operation name="GetListaPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil/GetListaPerfil" message="tns:IPerfil_GetListaPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil/GetListaPerfilResponse" message="tns:IPerfil_GetListaPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListaPerfilUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfil/GetListaPerfilUsuario" message="tns:IPerfil_GetListaPerfilUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfil/GetListaPerfilUsuarioResponse" message="tns:IPerfil_GetListaPerfilUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerfil" type="tns:IPerfil">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaPerfil">
      <soap:operation soapAction="http://tempuri.org/IPerfil/GetListaPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPerfilUsuario">
      <soap:operation soapAction="http://tempuri.org/IPerfil/GetListaPerfilUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Perfil">
    <wsdl:port name="BasicHttpBinding_IPerfil" binding="tns:BasicHttpBinding_IPerfil">
      <soap:address location="http://172.16.98.189:1559/Perfil/Perfil.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>