DatosPDV/Connected Services/SRPerfil/Perfil.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.98.189:1559/Perfil/Perfil.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDVWebService.Mensajes" />
  <xs:element name="GetListaPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PDVWebService.Mensajes" minOccurs="0" name="GetListaPerfilResult" nillable="true" type="q1:ArrayOfPerfilType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PDVWebService.Mensajes" minOccurs="0" name="oUsuario" nillable="true" type="q2:UsuarioType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PDVWebService.Mensajes" minOccurs="0" name="GetListaPerfilUsuarioResult" nillable="true" type="q3:ArrayOfPerfilType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>